/**
 * loader.js for TAG 
 */

/**
 * Global vars
 */
var domain_site = window.location.hostname
var domain = "{{.Host}}"

function gotag_setcookie(name,value,days,path,domain) {
	domain = domain.split(".");
	var	domain_name = domain[domain.length - 2]
	var domain_ext = domain[domain.length - 1]
	var expire = new Date();
	expire.setTime (expire.getTime() + (24 * 60 * 60 * 1000) * days);
	
	document.cookie = 	name + "=" + escape(value) +
						"; domain=." + domain_name + "." + domain_ext +
						"; expires=" + expire.toGMTString() +
						"; path=" + path;
}

function gotag_getcookie(name) {
	var startIndex = document.cookie.indexOf(name);
	if(startIndex == -1)
		return null;
	else {
		var endIndex = document.cookie.indexOf(";", startIndex);
		if (endIndex == -1)
			endIndex = document.cookie.length;
		return unescape(document.cookie.substring(startIndex+name.length+1, endIndex)); 
	}
}

function gotag_genid() {
	var reg = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
	var radix = reg.length;
	var date = new Date();
	var id = date.getTime().toString();
	
	for (var i = 0 ; i < 16 ; i++) {
		id = id + reg[0 | Math.random()*radix];
	}
	return id;
}

function gotag_contents(url, annonceur, name, Varray) {
	var _cookie_name ='test_{{.Name}}';
	var _id = _id2 = _date = _mime_types =_plugins = new String();

	var _href = window.location.protocol + "//" + domain_site + window.location.pathname;
	var params = window.location.search.slice(1,window.location.search.length);
	var _tmpid = gotag_genid();
	var _cookie_disabled = false;
	var _laptop = navigator.userAgent;
	var _screen_d = escape(window.screen.width + 'x' + window.screen.height);
	var _scrdepth   = window.screen.colorDepth;
	var _tag_name = name;
	var _annonceur = annonceur;
	var _tag_href = 'http://' + domain + '/' + url;
	var _cookie_id = gotag_getcookie(_cookie_name);
	var _appcodename = escape(navigator.appCodeName);
	var _appname    = escape(navigator.appName);
	var _appversion = escape(navigator.appVersion);
	var _platform   = escape(navigator.platform);
	var _java       = escape(navigator.javaEnabled());
	

	// pk faire un try catch avec nav lang ??? 
	var	_applang = escape(navigator.language);

	// Idem pour les mime_types
	for (var i = 0 ; i < navigator.mimeTypes.length; i++) {
		if (i!=0) {
			_mime_types += ';';
		}
		_mime_types += navigator.mimeTypes[i].type;
	}
	
	// Et les plugins 
	for (var i = 0 ; i < navigator.plugins.length; i++) {
		if (i!=0) {
			_plugins += ';';
		}
		_plugins += navigator.plugins[i].name + ':' + navigator.plugins[i].filename;
	}

	var _contents_end = "&ann="+_annonceur+"&screend="+_screen_d+"&scrdepth="+_scrdepth+"&laptop="+_laptop + '&appcodename=' + _appcodename + '&appname=' + _appname + '&applang=' + _applang +'&appversion=' + _appversion + '&java=' + _java + '&platform=' + _platform + '&plugins=' + _plugins +'&mimes=' + _mime_types;

	// A valider la necessité du if suivant 
	if (_contents_end.length > 7000)
        _contents_end =  _contents_end.substring(0, 7000);
	
	var params_list = params.split("&");
	for (var i = 0 ; i < params_list.length; i++) {
		params_value = params_list[i].split("=");
		key = params_value[0];
		value = params_value[1];
		
		if(key == "_id") {
			_id = value;
		}
		if(key == "_id2") {
			_id2 = value;
		}
	}


	if(_id.length == 0) {
		if(_cookie_id == null) {
			_cookie_id = '';
			_id = _tmpid;
			gotag_setcookie(_cookie_name,_id,360,"/",domain_site);
			if(gotag_getcookie(_cookie_name) == null) {
				_cookie_disabled == true;
			}
		} else {
			_id = _cookie_id;
		}
	} else {
		gotag_setcookie(_cookie_name,_id,360,"/",domain_site);
		if(gotag_getcookie(_cookie_name) == null) {
			_cookie_disabled == true;
		}
		
		// Img d'appel du tag

		var custom_vars = Varray.join("&");
		var gotag_img = document.createElement("img");
			gotag_img.id = "gotag_img_1_1";
			gotag_img.src = _tag_href + "?id="+_id+"&id2"+_id2+"&href="+_href+"&cookie_id="+_cookie_id+"&cookie="+_cookie_disabled+_contents_end+custom_vars;
			gotag_img.border = gotag_img.height = gotag_img.width = "0";
			document.body.appendChild(gotag_img);
	}
}
